<html lang="fr">
<head>
    <title>Appli</title>
    <link rel="stylesheet" href="{{ base_path() }}/css/style.css">
</head>
<body>
    <header>
        <h1>MiniPress</h1>
    </header>
    <nav>
        <a href="{{ url_for('homePage') }}">Home</a>
        <a href="{{ url_for('listArticle') }}">Articles</a>
        <a href="{{ url_for('listCat') }}">Catégories</a>
        <a href="{{ url_for('formArticle') }}">Créer son article</a>
        <a href="{{ url_for('formCat') }}">Créer sa catégorie</a>
        <a href="{{ url_for('inscription') }}">Inscription</a>
        <a href="{{ url_for('connexion') }}">Connexion</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>