<html lang="fr">
<head>
    <title>MiniPress</title>
    <link rel="icon" href="{{ base_path() }}/icon/icon.png">
    <link rel="stylesheet" href="{{ base_path() }}/css/output.css">
</head>
<body class="h-screen w-full flex flex-col items-center">
<nav class="nav">
    <a class="nav-link" href="{{ url_for('homePage') }}">Home</a>
    <a class="nav-link" href="{{ url_for('listArticle') }}">Articles</a>
    <a class="nav-link" href="{{ url_for('listCat') }}">Catégories</a>
    <a class="nav-link" href="{{ url_for('listUtilisateurs') }}">Utilisateurs</a>
    {% if userLog %}
        <a class="nav-link" href="{{ url_for('listArticleAuteur', {'id_user': userGlobal.id}) }}">Mes Articles</a>
        <a class="nav-link" href="{{ url_for('formArticle') }}">Créer son article</a>
        <a class="nav-link" href="{{ url_for('formCat') }}">Créer sa catégorie</a>

        {% if userAdmin %}
            <a class="nav-link" href="{{ url_for('inscription') }}">Inscription</a>
        {% endif %}

        <a class="nav-link" href="{{ url_for('deconnexion') }}">Deconnexion</a>
    {% else %}
        <a class="nav-link" href="{{ url_for('connexion') }}">Connexion</a>
    {% endif %}
</nav>
<main class="w-full">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>