<html lang="fr">
<head>
    <title>MiniPress</title>
    <link rel="icon" href="{{ base_path() }}/icon/icon.png">
    <link rel="stylesheet" href="{{ base_path() }}/css/output.css">
</head>
<body class="h-screen w-full flex flex-col items-center">
<section id="homepage"
         class="bg-main-background w-full h-screen flex flex-col justify-center items-center space-y-12">

    <h1 class="text-4xl font-bold text-tea-green">Vous êtes connecté {{ prenom }} {{ nom }}</h1>
    <p class="borderLink"><a class="link" href="{{ url_for('homePage') }}">Accueil</a></p>
</section>
</body>
</html>
