{% extends 'layout.twig' %}

{% block content %}
    {% if user != null %}
        <h1>Liste des articles de {{ user.prenom }} {{ user.nom }}</h1>
        <ul>
            {% for article in articles %}
                <li>{{ article.titre }} : {{ article.date_creation }}
                    {% if user.id == userGlobal.id or userAdmin %}
                    <form class="form" action="{{ url_for('listArticleAuteur', {'id_user': user.id}) }}" method="post">
                        {% if article.date_publication == null %}
                            <button type="submit" name="publication" value="{{ article.id }}">publier</button>
                        {% else %}
                            <button type="submit" name="publication" value="{{ article.id }}">dépublier</button>
                        {% endif %}
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <h1> Aucun utilisateur avec cette id</h1>
    {% endif %}

{% endblock %}